[Unit]
Description=Make window rounded

[Service]
Type=oneshot
ExecStart=~/Dotfiles/startup_scripts/picom.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
