[Unit]
Description=Apply a perfect border to the active window

[Service]
Type=oneshot
ExecStart=~/Dotfiles/startup_scripts/xborder.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
